.card-banner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/wine_background.jpg');
  width: 100%;
  height: 570px;
  background-size: cover;
}

.card-banner h1, p {
  color: white;
  text-shadow: 0 0 10px rgb(0, 0, 0, 1)
}

.card-banner h1 {
  margin-top: 140px;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
  font-size: 34px;
}

.card-banner p {
  margin-bottom: 75px;
  font-size: 18px;
}

.card-description {
  width: 100%;
  height: 320px;
  padding: 15px 0;
  margin-bottom: 84px;
}

.card-description > h2 {
  margin-bottom: 44px;
}

.card-description-structure {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-description-block {
  width: 180px;
  box-shadow: 0 0 5px rgba(100, 100, 100, 0.4);
  border-radius: 5px;
  padding: 0 15px;
}

.card-description-block:hover {
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.6);
  transition: 0.2s;
}

.card-description-block p {
  font-size: 15px;
  color: rgb(120, 120, 120);
  text-shadow: none;
}

.card-footer {
  display: flex;
  background-color: rgba(124, 32, 20, 0.9);
  height: 80px;
  align-items: center;
  justify-content: center;
}

.list-horizontal {
  list-style: none;
}

.list-horizontal > li {
  display: inline-block;
}
